.form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: auto;
  justify-content: center;
  margin: 20px;
}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
}

form {
  margin-top: 50px;
}

#save {
  background-color: green;
  color: #ffffff;
  border: 1px solid greenyellow;
}

#delete {
  background-color: red;
  color: white;
  border: 1px solid rgb(216, 133, 133);
}

#save:hover {
  background-color: rgb(16, 94, 16);
}

#delete:hover {
  background-color: brown;
}
